@page
@using webPickleballTerrebonne.Data.Constantes
@model webPickleballTerrebonne.Areas.Admin.Pages.Membres.CreerModel
@{
    Model.ViewData["Title"] = "Ajouter un membre";
}
<div class="container">
    <h3 class="py-3">Ajouter un nouveau membre</h3>
    <div class="bg-light mb-3 p-3">
        <div class="text-end"><span style='color:red'>*</span> Information requise</div>
        <form method="post">
            @if (User.IsInRole(NomsRoles.Admin))
            {
                <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Rôle du membre</div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Choisir un rôle pour le membre:</label>
                        <select asp-for="MembreOtd.Role" asp-items="Model.RolesDisponibles" class="form-control">
                            <option value="">-- Sélectionner un rôle --</option>
                        </select>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="MembreOtd.Role" value="@NomsRoles.User" />
            }

            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Information de connexion</div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Courriel)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Courriel" class="form-control" />
                    <span asp-validation-for="MembreOtd.Courriel" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Password)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Password" class="form-control" />
                    <span asp-validation-for="MembreOtd.Password" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ConfirmPassword)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="MembreOtd.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Identification du membre</div>
            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Nom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Nom" class="form-control" />
                    <span asp-validation-for="MembreOtd.Nom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Prenom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Prenom" class="form-control" />
                    <span asp-validation-for="MembreOtd.Prenom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.TelephoneMobile)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.TelephoneMobile" class="form-control" />
                    <span asp-validation-for="MembreOtd.TelephoneMobile" class="text-danger"></span>
                </div>
            </div>

            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Adresse</div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Adresse)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Adresse" class="form-control" />
                    <span asp-validation-for="MembreOtd.Adresse" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="MembreOtd.Appartement" class="form-label"></label>
                    <input asp-for="MembreOtd.Appartement" class="form-control" />
                    <span asp-validation-for="MembreOtd.Appartement" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Ville)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Ville" class="form-control" />
                    <span asp-validation-for="MembreOtd.Ville" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.CodePostal)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.CodePostal" class="form-control" />
                    <span asp-validation-for="MembreOtd.CodePostal" class="text-danger"></span>
                </div>
            </div>

            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Contact d'urgence</div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ContactUrgenceNom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ContactUrgenceNom" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgenceNom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ContactUrgencePrenom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ContactUrgencePrenom" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgencePrenom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ContactUrgenceTelephone)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ContactUrgenceTelephone" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgenceTelephone" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="MembreOtd.ContactUrgenceRelation" class="form-label"></label>
                    <input asp-for="MembreOtd.ContactUrgenceRelation" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgenceRelation" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    <a asp-area="admin" asp-page="/membres/index" class="btn btn-danger">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section ScriptsPied {
    <partial name="_ValidationScriptsPartial" />
}