@page "{idMembre:int}"
@model webPickleballTerrebonne.Areas.Admin.Pages.Membres.ModifierModel
@{
   Model.ViewData["Title"] = "Modifier un membre";
}

<div class="container">
    <h3 class="py-3">Modifier un membre</h3>
    <div class="bg-light mb-3 p-3">
        <div class="text-end"><span style='color:red'>*</span> Information requise</div>
        <form method="post">
            <input asp-for="MembreOtd.Id" type="hidden" />
            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Identification du membre</div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Nom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Nom" class="form-control" />
                    <span asp-validation-for="MembreOtd.Nom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Prenom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Prenom" class="form-control" />
                    <span asp-validation-for="MembreOtd.Prenom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="MembreOtd.NoMembre" class="form-label"></label>
                    <input asp-for="MembreOtd.NoMembre" class="form-control" />
                    <span asp-validation-for="MembreOtd.NoMembre" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.TelephoneMobile)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.TelephoneMobile" class="form-control" />
                    <span asp-validation-for="MembreOtd.TelephoneMobile" class="text-danger"></span>
                </div>
            </div>

            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Adresse</div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Adresse)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Adresse" class="form-control" />
                    <span asp-validation-for="MembreOtd.Adresse" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="MembreOtd.Appartement" class="form-label"></label>
                    <input asp-for="MembreOtd.Appartement" class="form-control" />
                    <span asp-validation-for="MembreOtd.Appartement" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.Ville)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.Ville" class="form-control" />
                    <span asp-validation-for="MembreOtd.Ville" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.CodePostal)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.CodePostal" class="form-control" />
                    <span asp-validation-for="MembreOtd.CodePostal" class="text-danger"></span>
                </div>
            </div>

            <div class="h5 py-2 mb-3 border-bottom border-dark border-1">Contact d'urgence</div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ContactUrgenceNom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ContactUrgenceNom" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgenceNom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ContactUrgencePrenom)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ContactUrgencePrenom" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgencePrenom" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">@Html.Raw($"{Html.DisplayNameFor(m => m.MembreOtd.ContactUrgenceTelephone)} <span style='color:red'>*</span>")</label>
                    <input asp-for="MembreOtd.ContactUrgenceTelephone" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgenceTelephone" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="MembreOtd.ContactUrgenceRelation" class="form-label"></label>
                    <input asp-for="MembreOtd.ContactUrgenceRelation" class="form-control" />
                    <span asp-validation-for="MembreOtd.ContactUrgenceRelation" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    <a asp-area="admin" asp-page="/membres/index" class="btn btn-danger">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section ScriptsPied {
    <partial name="_ValidationScriptsPartial" />
}