@page
@using System.Globalization
@using webPickleballTerrebonne.ObjetTransfertDonnee.PlagesHoraires
@model webPickleballTerrebonne.Pages.PlagesHoraires.IndexModel
@{
    ViewBag.Title = "Index des plages horaires";
}

<div class="container">
    <h1>Plages Horaires</h1>

    <div class="row">
        @if (Model.PlagesHorairesOtd is null || Model.PlagesHorairesOtd.Count == 0)
        {
            <div>Aucune plages horaires.</div>
        }
        else
        {
            @foreach (var jour in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>())
            {
                var isLast = jour == DayOfWeek.Saturday;
                var plagesHoraires = Model.PlagesHorairesOtd.ContainsKey(jour) ? Model.PlagesHorairesOtd[jour] : new List<PlageHorairePourIndexOtd>();
                <div class="col-md @(isLast ? "" : "border-md-end")">
                    <div class="text-center mb-3">
                        @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(jour))
                    </div>
                    @foreach (var plageHoraire in plagesHoraires)
                    {
                        <a asp-page="/PlagesHoraires/Details" asp-route-IdPlageHoraire="@plageHoraire.IdPlageHoraire" class="text-decoration-none">
                            <div class="card p-3">
                                <strong>@plageHoraire.HeureDebut</strong>
                                <div>
                                    @plageHoraire.NomTerrain
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        }
    </div>
</div>
